{{template "partials/top" .}}

<style>
    .gambar{
        width: 10rem;
        height: 8rem;
    }

    .c1{
        padding: 5rem;
    }
</style>
<a href="createProduct">create</a>
<a href="/wishList/1">cart</a>
{{range .products }}
    <div class="c1">
        <img src="{{.ProductImageCover}}" alt="" class="img gambar">
        <h1>{{.ProductName}}</h1>
        <p>{{.ProductDescription}}</p>
        <h2>{{.ProductPrice}}</h2>
        <h2>{{.ProductStock}}</h2>
        <a href="/produk/{{.ID}}">view produk</a>
        <form action="/insertWishlist/1/{{.ID}}" method="POST" style="display:inline;">
            <button type="submit">🛒</button>
        </form>
    </div>

{{end}}

{{template "partials/bot" .}}
