{{template "partials/top" .}}

<style>
    .gambar{
        width: 10rem;
        height: 8rem;
    }
</style>

{{range .wishlists}}
    <div class="wishlist-item">
        <input type="checkbox" name="selectedItems" value="{{.ID}}" class="item-checkbox">
        <img src="/{{.ProductImage}}" alt="" class="img gambar">
        <span>{{.ProductName}}</span>
        <span>{{.ProductPrice}}</span>
        <form action="/updateWishlistQuantity/{{.IdWishlist}}" method="POST">
            <input type="hidden" name="productId" value="{{.IdProduct}}">
            <input type="hidden" name="quantity" value="{{min .Quantity 1}}">
            <button type="submit">-</button>
        </form>
        <span id="counter-value-{{.ID}}">{{.Quantity}}</span>
        <form action="/updateWishlistQuantity/{{.IdWishlist}}" method="POST">
            <input type="hidden" name="productId" value="{{.IdProduct}}">
            <input type="hidden" name="quantity" value="{{plus .Quantity 1}}">
            <button type="submit">+</button>
        </form>
        <span>{{mul .ProductPrice .Quantity}}</span>
    </div>
{{end}}

<button type="button" onclick="checkout(event)">Checkout</button>

<script>
    function checkout(event) {
        event.preventDefault();

        const selectedItems = Array.from(document.querySelectorAll('.item-checkbox:checked'))
            .map(checkbox => checkbox.value);

        const formData = {
            selectedItems: selectedItems
        };

        fetch('/checkout', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
                window.location.href = '/';
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }
</script>




{{template "partials/bot" .}}
