{{template "partials/top" .}}


<style>
    .gambar{
        width: 10rem;
        height: 8rem;
    }
</style>

{{range .photos}}
    <img src="/{{.ImgPath}}" alt="" class="img gambar">
{{end}}

{{template "partials/bot" .}}
